body {
    text-align: center;
    margin: 0;
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
}
nav {
	background-color: #00A6B3;
	padding: 20px 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px 0 8px;
}
a {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
p {
  	font-family: "Droid Serif", serif;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	color: #0D2C40;
	font-style: italic;
}
h3 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-decoration: underline;
}
h4 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 30px;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}
p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
header {
	background-color: #F15B31;
	padding: 30px 20px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
button {
	padding: 10px 30px;
	width: 120px;
	height: 50px;
	margin: 0 auto;
}
#linkedin {
	font-family: "Raleway", sans-serif;
	color: #000000;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 14px;
}
#linkedinlink {
	font-size: 16px;
	color: #F15B31;
	margin: 0;
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
#score1, #score2 {
	color: black;
	font-size: 60px;
	margin: 0 40px;
}
#outcome {
	color: black;
	font-size: 20px;
}