body {
    text-align: center;
    margin: 0;
}
header {
	background-color: #F15B31;
	padding: 30px 20px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
nav {
	background-color: #00A6B3;
	padding: 20px 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	color: #0D2C40;
	font-style: italic;
}
h3 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-decoration: underline;
}
h4 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 30px;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
img {
	margin: 40px 8px 0 8px;
}
a {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
button {
	padding: 10px 30px;
	width: 150px;
	height: 50px;
	margin: 0 5px;
	font-size: 14px;
	border-radius: 10px;
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
button:active {
  background-color: #3c8d3f;
}
button:focus {
	outline: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
.scoreLink {
	padding: 0 10px;
}
#betDescription {
	font-size: 13px;
}
#linkedin {
	font-family: "Raleway", sans-serif;
	color: #000000;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 14px;
}
#linkedinlink {
	font-size: 16px;
	color: #F15B31;
	margin: 0;
}
#needWins {
	color: white;
	font-size: 14px;
}
#outcome {
	color: black;
	font-size: 20px;
}
#score1, #score2 {
	color: black;
	font-size: 60px;
	margin: 0 40px;
}